*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bar {
    width: 25px;
    height: 100px;
    display: inline-block;
    background-color: blue;
    margin: 2px;
    
  }
  .bar:hover{
    fill: coral;
  }

  /* svg{
    background-color: pink;
  } */